.btn {
    padding: 8px 25px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    margin: 5px;
    display: inline-block;
    border: 2px solid transparent;
    font-weight: 500;
    transition: $default-transition-time ease-in-out;

    &:hover {
        transform: translateY(-5px);
    }

    &.btn-primary {
        background-color: white;
        color: $primary-color;

        &:hover {
            border-color: transparent;
        }
    }

    &.btn-secondary {
        background-color: $primary-color;
        color: white;
    }

    &.btn-outline, &.btn-outline-dark {
        border: 2px solid white;
        position: relative;
        overflow: hidden;
        color: white;
    }

    &.btn-outline-dark {
        border: 2px solid $primary-color;
        color: $primary-color;
    }
}