#about {
    background-color: #f5f2f2;
    
    p {
        font-size: 1.2em;
    }
    .row {
        margin: 20px 0;
    }

    @media (max-width: 768px){
        .about-image {
            display: none;
        }
    }
}