section#services {
    background-color: $primary-color;
    color: white;

    h2 {
        color: white;
    }

    .row {
        margin: 20px 0;
    }

    .service-items {
        margin: 60px 0;
    }

    .service-item {
        position: relative;
        text-align: center;
        width: 100%;
        max-width: 450px;
        color: white;
        margin: 0px auto;
        transition: all $default-transition-time ease-in-out;
        -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
        height: 425px;
        background-color: white;
        overflow: hidden;

        @media (max-width: 768px) {
            margin: 15px auto;
        }

        .service-image-container {
            position: relative;
            overflow: hidden;
            height: 200px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .service-item-body {
            position: relative;
            background-color: white;
            color: black;
            text-align: left;
            padding: 20px 15px;

            .slide-title {
                position: absolute;
                left: 15px;
                top: -40px;
                margin: 0px;
                transition: all $default-transition-time ease-in-out;
                z-index: 2;
                
                h3{
                    display: inline-block;
                    transition: all $default-transition-time ease-in-out;
                    text-align: left;
                    margin: 0px;
                    padding: 6px 10px 10px 10px;
                    background-color: white;
                }
            }
        }

        &:hover {
            background-size: 375px;
        }

        .service-item-fade {
            position: absolute;
            background-color: $primary-color;;
            width: 100%;
            height: 250px;
            opacity: .65;
            z-index: 1;
        }




    }
}

