.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
